In [4]:
!pip install pyspark

Requirement already satisfied: pyspark in /Users/seyda.ozdemir/.conda/envs/Downloads/lib/python3.8/site-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in /Users/seyda.ozdemir/.conda/envs/Downloads/lib/python3.8/site-packages (from pyspark) (0.10.9.3)
WARNING: You are using pip version 22.0.3; however, version 22.0.4 is available.
You should consider upgrading via the '/Users/seyda.ozdemir/.conda/envs/Downloads/bin/python -m pip install --upgrade pip' command.

In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('practise').getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.1.2-bin-hadoop3.2/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
22/03/31 08:02:04 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [4]:
spark

# Read Dataset

In [100]:
#read the Dataset
spark.read.option('header','true').option('sep',';').csv('Kitap3.csv').show()

+---------+------------+------+----------+
|     Name| Departments|Salary|Experience|
+---------+------------+------+----------+
|    Krish|Data Science| 10000|        10|
|    Krish|         IOT|  5000|         8|
|   Mahesh|    Big Data|  4000|         4|
|    Krish|    Big Data|  4000|         3|
|   Mahesh|Data Science|  3000|         1|
|Sudhanshu|Data Science| 20000|         2|
|Sudhanshu|         IOT| 10000|      null|
|Sudhanshu|    Big Data|  5000|        10|
|    Sunny|Data Science| 10000|      null|
|    Sunny|    Big Data|  2000|      null|
|   Harsha|         IOT| 15000|         1|
|  Shubham|        null|  null|         2|
|   Mahesh|Data Science| 40000|      null|
|     null|    Big Data| 38000|        10|
+---------+------------+------+----------+

In [102]:
df_pyspark = spark.read.csv('Kitap3.csv', header=True, sep=';', inferSchema=True)

In [7]:
df_pyspark.show()

+---------+------------+------+----------+
|     Name| Departments|Salary|Experience|
+---------+------------+------+----------+
|    Krish|Data Science| 10000|        10|
|    Krish|         IOT|  5000|         8|
|   Mahesh|    Big Data|  4000|         4|
|    Krish|    Big Data|  4000|         3|
|   Mahesh|Data Science|  3000|         1|
|Sudhanshu|Data Science| 20000|         2|
|Sudhanshu|         IOT| 10000|      null|
|Sudhanshu|    Big Data|  5000|        10|
|    Sunny|Data Science| 10000|      null|
|    Sunny|    Big Data|  2000|      null|
|   Harsha|         IOT| 15000|         1|
|  Shubham|        null|  null|         2|
|   Mahesh|Data Science| 40000|      null|
|     null|    Big Data| 38000|        10|
+---------+------------+------+----------+

In [8]:
# Checking the Datatypes of the Columns
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [9]:
# What is type of data
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

## Selecting Columns and indexing

In [10]:
df_pyspark.columns

['Name', 'Departments', 'Salary', 'Experience']

In [11]:
#selecting index
df_pyspark.head(3)

[Row(Name='Krish', Departments='Data Science', Salary=10000, Experience=10),
 Row(Name='Krish', Departments='IOT', Salary=5000, Experience=8),
 Row(Name='Mahesh', Departments='Big Data', Salary=4000, Experience=4)]

In [12]:
df_pyspark.show()

+---------+------------+------+----------+
|     Name| Departments|Salary|Experience|
+---------+------------+------+----------+
|    Krish|Data Science| 10000|        10|
|    Krish|         IOT|  5000|         8|
|   Mahesh|    Big Data|  4000|         4|
|    Krish|    Big Data|  4000|         3|
|   Mahesh|Data Science|  3000|         1|
|Sudhanshu|Data Science| 20000|         2|
|Sudhanshu|         IOT| 10000|      null|
|Sudhanshu|    Big Data|  5000|        10|
|    Sunny|Data Science| 10000|      null|
|    Sunny|    Big Data|  2000|      null|
|   Harsha|         IOT| 15000|         1|
|  Shubham|        null|  null|         2|
|   Mahesh|Data Science| 40000|      null|
|     null|    Big Data| 38000|        10|
+---------+------------+------+----------+

In [13]:
df_pyspark.select('Name')

DataFrame[Name: string]

In [14]:
df_pyspark.select('Name').show()

+---------+
|     Name|
+---------+
|    Krish|
|    Krish|
|   Mahesh|
|    Krish|
|   Mahesh|
|Sudhanshu|
|Sudhanshu|
|Sudhanshu|
|    Sunny|
|    Sunny|
|   Harsha|
|  Shubham|
|   Mahesh|
|     null|
+---------+

In [15]:
df_pyspark.select(['Name','Salary'])

DataFrame[Name: string, Salary: int]

In [16]:
df_pyspark.select(['Name','Salary']).show()

+---------+------+
|     Name|Salary|
+---------+------+
|    Krish| 10000|
|    Krish|  5000|
|   Mahesh|  4000|
|    Krish|  4000|
|   Mahesh|  3000|
|Sudhanshu| 20000|
|Sudhanshu| 10000|
|Sudhanshu|  5000|
|    Sunny| 10000|
|    Sunny|  2000|
|   Harsha| 15000|
|  Shubham|  null|
|   Mahesh| 40000|
|     null| 38000|
+---------+------+

In [17]:
df_pyspark['Name'] # can't use the show()

Column<'Name'>

In [18]:
df_pyspark.dtypes

[('Name', 'string'),
 ('Departments', 'string'),
 ('Salary', 'int'),
 ('Experience', 'int')]

## Check Describe option similar to Pandas

In [19]:
df_pyspark.describe()

DataFrame[summary: string, Name: string, Departments: string, Salary: string, Experience: string]

In [20]:
df_pyspark.describe().show()

+-------+------+-----------+------------------+------------------+
|summary|  Name|Departments|            Salary|        Experience|
+-------+------+-----------+------------------+------------------+
|  count|    13|         13|                13|                10|
|   mean|  null|       null| 12769.23076923077|               5.1|
| stddev|  null|       null|12728.929296120747|3.9285281382896233|
|    min|Harsha|   Big Data|              2000|                 1|
|    max| Sunny|        IOT|             40000|                10|
+-------+------+-----------+------------------+------------------+

## Adding Columns in data frame

In [21]:
df_pyspark.withColumn('Salary with tips', df_pyspark['Salary']+df_pyspark['Salary']*0.2)

DataFrame[Name: string, Departments: string, Salary: int, Experience: int, Salary with tips: double]

In [22]:
df_pyspark = df_pyspark.withColumn('Salary with tips', df_pyspark['Salary']+df_pyspark['Salary']*0.2)
df_pyspark.show()

+---------+------------+------+----------+----------------+
|     Name| Departments|Salary|Experience|Salary with tips|
+---------+------------+------+----------+----------------+
|    Krish|Data Science| 10000|        10|         12000.0|
|    Krish|         IOT|  5000|         8|          6000.0|
|   Mahesh|    Big Data|  4000|         4|          4800.0|
|    Krish|    Big Data|  4000|         3|          4800.0|
|   Mahesh|Data Science|  3000|         1|          3600.0|
|Sudhanshu|Data Science| 20000|         2|         24000.0|
|Sudhanshu|         IOT| 10000|      null|         12000.0|
|Sudhanshu|    Big Data|  5000|        10|          6000.0|
|    Sunny|Data Science| 10000|      null|         12000.0|
|    Sunny|    Big Data|  2000|      null|          2400.0|
|   Harsha|         IOT| 15000|         1|         18000.0|
|  Shubham|        null|  null|         2|            null|
|   Mahesh|Data Science| 40000|      null|         48000.0|
|     null|    Big Data| 38000|        10|         45600.0|
+---------+------------+------+----------+----------------+

## Dropping Columns

In [23]:
df_pyspark.drop('Salary with tips')

DataFrame[Name: string, Departments: string, Salary: int, Experience: int]

In [24]:
df_pyspark.drop('Salary with tips').show()

+---------+------------+------+----------+
|     Name| Departments|Salary|Experience|
+---------+------------+------+----------+
|    Krish|Data Science| 10000|        10|
|    Krish|         IOT|  5000|         8|
|   Mahesh|    Big Data|  4000|         4|
|    Krish|    Big Data|  4000|         3|
|   Mahesh|Data Science|  3000|         1|
|Sudhanshu|Data Science| 20000|         2|
|Sudhanshu|         IOT| 10000|      null|
|Sudhanshu|    Big Data|  5000|        10|
|    Sunny|Data Science| 10000|      null|
|    Sunny|    Big Data|  2000|      null|
|   Harsha|         IOT| 15000|         1|
|  Shubham|        null|  null|         2|
|   Mahesh|Data Science| 40000|      null|
|     null|    Big Data| 38000|        10|
+---------+------------+------+----------+

In [25]:
df_pyspark = df_pyspark.drop('Salary with tips')
df_pyspark.show()

+---------+------------+------+----------+
|     Name| Departments|Salary|Experience|
+---------+------------+------+----------+
|    Krish|Data Science| 10000|        10|
|    Krish|         IOT|  5000|         8|
|   Mahesh|    Big Data|  4000|         4|
|    Krish|    Big Data|  4000|         3|
|   Mahesh|Data Science|  3000|         1|
|Sudhanshu|Data Science| 20000|         2|
|Sudhanshu|         IOT| 10000|      null|
|Sudhanshu|    Big Data|  5000|        10|
|    Sunny|Data Science| 10000|      null|
|    Sunny|    Big Data|  2000|      null|
|   Harsha|         IOT| 15000|         1|
|  Shubham|        null|  null|         2|
|   Mahesh|Data Science| 40000|      null|
|     null|    Big Data| 38000|        10|
+---------+------------+------+----------+

## Rename the columns

In [26]:
df_pyspark.withColumnRenamed('Name','New Name').show()

+---------+------------+------+----------+
| New Name| Departments|Salary|Experience|
+---------+------------+------+----------+
|    Krish|Data Science| 10000|        10|
|    Krish|         IOT|  5000|         8|
|   Mahesh|    Big Data|  4000|         4|
|    Krish|    Big Data|  4000|         3|
|   Mahesh|Data Science|  3000|         1|
|Sudhanshu|Data Science| 20000|         2|
|Sudhanshu|         IOT| 10000|      null|
|Sudhanshu|    Big Data|  5000|        10|
|    Sunny|Data Science| 10000|      null|
|    Sunny|    Big Data|  2000|      null|
|   Harsha|         IOT| 15000|         1|
|  Shubham|        null|  null|         2|
|   Mahesh|Data Science| 40000|      null|
|     null|    Big Data| 38000|        10|
+---------+------------+------+----------+

# Pyspark Handling Missing Values

In [27]:
df_pyspark.show()

+---------+------------+------+----------+
|     Name| Departments|Salary|Experience|
+---------+------------+------+----------+
|    Krish|Data Science| 10000|        10|
|    Krish|         IOT|  5000|         8|
|   Mahesh|    Big Data|  4000|         4|
|    Krish|    Big Data|  4000|         3|
|   Mahesh|Data Science|  3000|         1|
|Sudhanshu|Data Science| 20000|         2|
|Sudhanshu|         IOT| 10000|      null|
|Sudhanshu|    Big Data|  5000|        10|
|    Sunny|Data Science| 10000|      null|
|    Sunny|    Big Data|  2000|      null|
|   Harsha|         IOT| 15000|         1|
|  Shubham|        null|  null|         2|
|   Mahesh|Data Science| 40000|      null|
|     null|    Big Data| 38000|        10|
+---------+------------+------+----------+

## Drop the missing data

You can use the .na functions for missing data. The drop command has the following parameters:

    df.na.drop(how='any', thresh=None, subset=None)
    
    * param how: 'any' or 'all'.
    
        If 'any', drop a row if it contains any nulls.
        If 'all', drop a row only if all its values are null.
    
    * param thresh: int, default None
    
        If specified, drop rows that have less than `thresh` non-null values.
        This overwrites the `how` parameter.
        
    * param subset: 
        optional list of column names to consider.

In [28]:
df_pyspark.drop('Name').show()

+------------+------+----------+
| Departments|Salary|Experience|
+------------+------+----------+
|Data Science| 10000|        10|
|         IOT|  5000|         8|
|    Big Data|  4000|         4|
|    Big Data|  4000|         3|
|Data Science|  3000|         1|
|Data Science| 20000|         2|
|         IOT| 10000|      null|
|    Big Data|  5000|        10|
|Data Science| 10000|      null|
|    Big Data|  2000|      null|
|         IOT| 15000|         1|
|        null|  null|         2|
|Data Science| 40000|      null|
|    Big Data| 38000|        10|
+------------+------+----------+

### Dropping Rows

In [29]:
#Drop nan rows
df_pyspark.na.drop().show()

+---------+------------+------+----------+
|     Name| Departments|Salary|Experience|
+---------+------------+------+----------+
|    Krish|Data Science| 10000|        10|
|    Krish|         IOT|  5000|         8|
|   Mahesh|    Big Data|  4000|         4|
|    Krish|    Big Data|  4000|         3|
|   Mahesh|Data Science|  3000|         1|
|Sudhanshu|Data Science| 20000|         2|
|Sudhanshu|    Big Data|  5000|        10|
|   Harsha|         IOT| 15000|         1|
+---------+------------+------+----------+

In [30]:
#If 'any', drop a row if it contains any nulls.
#If 'all', drop a row only if all its values are null.

df_pyspark.na.drop(how='all').show()

+---------+------------+------+----------+
|     Name| Departments|Salary|Experience|
+---------+------------+------+----------+
|    Krish|Data Science| 10000|        10|
|    Krish|         IOT|  5000|         8|
|   Mahesh|    Big Data|  4000|         4|
|    Krish|    Big Data|  4000|         3|
|   Mahesh|Data Science|  3000|         1|
|Sudhanshu|Data Science| 20000|         2|
|Sudhanshu|         IOT| 10000|      null|
|Sudhanshu|    Big Data|  5000|        10|
|    Sunny|Data Science| 10000|      null|
|    Sunny|    Big Data|  2000|      null|
|   Harsha|         IOT| 15000|         1|
|  Shubham|        null|  null|         2|
|   Mahesh|Data Science| 40000|      null|
|     null|    Big Data| 38000|        10|
+---------+------------+------+----------+

In [31]:
#treshold: If specified, drop rows that have less than `thresh` non-null values.
df_pyspark.na.drop(how='any' ,thresh = 1).show()

+---------+------------+------+----------+
|     Name| Departments|Salary|Experience|
+---------+------------+------+----------+
|    Krish|Data Science| 10000|        10|
|    Krish|         IOT|  5000|         8|
|   Mahesh|    Big Data|  4000|         4|
|    Krish|    Big Data|  4000|         3|
|   Mahesh|Data Science|  3000|         1|
|Sudhanshu|Data Science| 20000|         2|
|Sudhanshu|         IOT| 10000|      null|
|Sudhanshu|    Big Data|  5000|        10|
|    Sunny|Data Science| 10000|      null|
|    Sunny|    Big Data|  2000|      null|
|   Harsha|         IOT| 15000|         1|
|  Shubham|        null|  null|         2|
|   Mahesh|Data Science| 40000|      null|
|     null|    Big Data| 38000|        10|
+---------+------------+------+----------+

In [32]:
df_pyspark.na.drop(how='any' ,thresh = 3).show()

+---------+------------+------+----------+
|     Name| Departments|Salary|Experience|
+---------+------------+------+----------+
|    Krish|Data Science| 10000|        10|
|    Krish|         IOT|  5000|         8|
|   Mahesh|    Big Data|  4000|         4|
|    Krish|    Big Data|  4000|         3|
|   Mahesh|Data Science|  3000|         1|
|Sudhanshu|Data Science| 20000|         2|
|Sudhanshu|         IOT| 10000|      null|
|Sudhanshu|    Big Data|  5000|        10|
|    Sunny|Data Science| 10000|      null|
|    Sunny|    Big Data|  2000|      null|
|   Harsha|         IOT| 15000|         1|
|   Mahesh|Data Science| 40000|      null|
|     null|    Big Data| 38000|        10|
+---------+------------+------+----------+

In [33]:
#Subset: select column and drop that column have null values
df_pyspark.na.drop(how='any' ,subset = ['Experience']).show()

+---------+------------+------+----------+
|     Name| Departments|Salary|Experience|
+---------+------------+------+----------+
|    Krish|Data Science| 10000|        10|
|    Krish|         IOT|  5000|         8|
|   Mahesh|    Big Data|  4000|         4|
|    Krish|    Big Data|  4000|         3|
|   Mahesh|Data Science|  3000|         1|
|Sudhanshu|Data Science| 20000|         2|
|Sudhanshu|    Big Data|  5000|        10|
|   Harsha|         IOT| 15000|         1|
|  Shubham|        null|  null|         2|
|     null|    Big Data| 38000|        10|
+---------+------------+------+----------+

## Filling the Missing Value

In [103]:
df_pyspark.na.fill('Missing Values',['Name','Salary']).show()

+--------------+------------+------+----------+
|          Name| Departments|Salary|Experience|
+--------------+------------+------+----------+
|         Krish|Data Science| 10000|        10|
|         Krish|         IOT|  5000|         8|
|        Mahesh|    Big Data|  4000|         4|
|         Krish|    Big Data|  4000|         3|
|        Mahesh|Data Science|  3000|         1|
|     Sudhanshu|Data Science| 20000|         2|
|     Sudhanshu|         IOT| 10000|      null|
|     Sudhanshu|    Big Data|  5000|        10|
|         Sunny|Data Science| 10000|      null|
|         Sunny|    Big Data|  2000|      null|
|        Harsha|         IOT| 15000|         1|
|       Shubham|        null|  null|         2|
|        Mahesh|Data Science| 40000|      null|
|Missing Values|    Big Data| 38000|        10|
+--------------+------------+------+----------+

In [35]:
df_pyspark.na.fill(0,['Experience','Salary']).show()

+---------+------------+------+----------+
|     Name| Departments|Salary|Experience|
+---------+------------+------+----------+
|    Krish|Data Science| 10000|        10|
|    Krish|         IOT|  5000|         8|
|   Mahesh|    Big Data|  4000|         4|
|    Krish|    Big Data|  4000|         3|
|   Mahesh|Data Science|  3000|         1|
|Sudhanshu|Data Science| 20000|         2|
|Sudhanshu|         IOT| 10000|         0|
|Sudhanshu|    Big Data|  5000|        10|
|    Sunny|Data Science| 10000|         0|
|    Sunny|    Big Data|  2000|         0|
|   Harsha|         IOT| 15000|         1|
|  Shubham|        null|     0|         2|
|   Mahesh|Data Science| 40000|         0|
|     null|    Big Data| 38000|        10|
+---------+------------+------+----------+

In [36]:
df_pyspark.show()

+---------+------------+------+----------+
|     Name| Departments|Salary|Experience|
+---------+------------+------+----------+
|    Krish|Data Science| 10000|        10|
|    Krish|         IOT|  5000|         8|
|   Mahesh|    Big Data|  4000|         4|
|    Krish|    Big Data|  4000|         3|
|   Mahesh|Data Science|  3000|         1|
|Sudhanshu|Data Science| 20000|         2|
|Sudhanshu|         IOT| 10000|      null|
|Sudhanshu|    Big Data|  5000|        10|
|    Sunny|Data Science| 10000|      null|
|    Sunny|    Big Data|  2000|      null|
|   Harsha|         IOT| 15000|         1|
|  Shubham|        null|  null|         2|
|   Mahesh|Data Science| 40000|      null|
|     null|    Big Data| 38000|        10|
+---------+------------+------+----------+

## Handling Missing values by Mean, Median and Mode

### Filling null values between mean, median


Imputation estimator for completing missing values, using the mean, median or mode
of the columns in which the missing values are located. The input columns should be of
numeric type. Currently Imputer does not support categorical features and
possibly creates incorrect values for a categorical feature.

In [37]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols = ['Experience','Salary'],
    outputCols=["{}_imputed".format(c) for c in ['Experience','Salary']]
    ).setStrategy("mean")

In [38]:
# Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+---------+------------+------+----------+------------------+--------------+
|     Name| Departments|Salary|Experience|Experience_imputed|Salary_imputed|
+---------+------------+------+----------+------------------+--------------+
|    Krish|Data Science| 10000|        10|                10|         10000|
|    Krish|         IOT|  5000|         8|                 8|          5000|
|   Mahesh|    Big Data|  4000|         4|                 4|          4000|
|    Krish|    Big Data|  4000|         3|                 3|          4000|
|   Mahesh|Data Science|  3000|         1|                 1|          3000|
|Sudhanshu|Data Science| 20000|         2|                 2|         20000|
|Sudhanshu|         IOT| 10000|      null|                 5|         10000|
|Sudhanshu|    Big Data|  5000|        10|                10|          5000|
|    Sunny|Data Science| 10000|      null|                 5|         10000|
|    Sunny|    Big Data|  2000|      null|                 5|          2000|
|   Harsha|         IOT| 15000|         1|                 1|         15000|
|  Shubham|        null|  null|         2|                 2|         12769|
|   Mahesh|Data Science| 40000|      null|                 5|         40000|
|     null|    Big Data| 38000|        10|                10|         38000|
+---------+------------+------+----------+------------------+--------------+

In [39]:
imputer = Imputer(
    inputCols = ['Experience','Salary'],
    outputCols=["{}_imputed".format(c) for c in ['Experience','Salary']]
    ).setStrategy("median")

imputer.fit(df_pyspark).transform(df_pyspark).show()

+---------+------------+------+----------+------------------+--------------+
|     Name| Departments|Salary|Experience|Experience_imputed|Salary_imputed|
+---------+------------+------+----------+------------------+--------------+
|    Krish|Data Science| 10000|        10|                10|         10000|
|    Krish|         IOT|  5000|         8|                 8|          5000|
|   Mahesh|    Big Data|  4000|         4|                 4|          4000|
|    Krish|    Big Data|  4000|         3|                 3|          4000|
|   Mahesh|Data Science|  3000|         1|                 1|          3000|
|Sudhanshu|Data Science| 20000|         2|                 2|         20000|
|Sudhanshu|         IOT| 10000|      null|                 3|         10000|
|Sudhanshu|    Big Data|  5000|        10|                10|          5000|
|    Sunny|Data Science| 10000|      null|                 3|         10000|
|    Sunny|    Big Data|  2000|      null|                 3|          2000|
|   Harsha|         IOT| 15000|         1|                 1|         15000|
|  Shubham|        null|  null|         2|                 2|         10000|
|   Mahesh|Data Science| 40000|      null|                 3|         40000|
|     null|    Big Data| 38000|        10|                10|         38000|
+---------+------------+------+----------+------------------+--------------+

# Pyspark Dataframes

In [104]:
df_pyspark= df_pyspark.na.drop()
df_pyspark.show()

+---------+------------+------+----------+
|     Name| Departments|Salary|Experience|
+---------+------------+------+----------+
|    Krish|Data Science| 10000|        10|
|    Krish|         IOT|  5000|         8|
|   Mahesh|    Big Data|  4000|         4|
|    Krish|    Big Data|  4000|         3|
|   Mahesh|Data Science|  3000|         1|
|Sudhanshu|Data Science| 20000|         2|
|Sudhanshu|    Big Data|  5000|        10|
|   Harsha|         IOT| 15000|         1|
+---------+------------+------+----------+

## Filter Operation

In [41]:
## Salary of the people less than or equal to 20000
df_pyspark.filter("Salary<=20000").show()

+---------+------------+------+----------+
|     Name| Departments|Salary|Experience|
+---------+------------+------+----------+
|    Krish|Data Science| 10000|        10|
|    Krish|         IOT|  5000|         8|
|   Mahesh|    Big Data|  4000|         4|
|    Krish|    Big Data|  4000|         3|
|   Mahesh|Data Science|  3000|         1|
|Sudhanshu|Data Science| 20000|         2|
|Sudhanshu|    Big Data|  5000|        10|
|   Harsha|         IOT| 15000|         1|
+---------+------------+------+----------+

In [42]:
df_pyspark.filter("Salary<=20000").select(['Name','Experience']).show()

+---------+----------+
|     Name|Experience|
+---------+----------+
|    Krish|        10|
|    Krish|         8|
|   Mahesh|         4|
|    Krish|         3|
|   Mahesh|         1|
|Sudhanshu|         2|
|Sudhanshu|        10|
|   Harsha|         1|
+---------+----------+

In [43]:
df_pyspark.filter(df_pyspark['Salary']<=20000).show()

+---------+------------+------+----------+
|     Name| Departments|Salary|Experience|
+---------+------------+------+----------+
|    Krish|Data Science| 10000|        10|
|    Krish|         IOT|  5000|         8|
|   Mahesh|    Big Data|  4000|         4|
|    Krish|    Big Data|  4000|         3|
|   Mahesh|Data Science|  3000|         1|
|Sudhanshu|Data Science| 20000|         2|
|Sudhanshu|    Big Data|  5000|        10|
|   Harsha|         IOT| 15000|         1|
+---------+------------+------+----------+

In [44]:
df_pyspark.filter((df_pyspark['Salary']<=20000) & 
                  (df_pyspark['Salary']>=15000)).show()

+---------+------------+------+----------+
|     Name| Departments|Salary|Experience|
+---------+------------+------+----------+
|Sudhanshu|Data Science| 20000|         2|
|   Harsha|         IOT| 15000|         1|
+---------+------------+------+----------+

In [45]:
df_pyspark.filter((df_pyspark['Salary']<=20000) | 
                  (df_pyspark['Salary']>=15000)).show()

+---------+------------+------+----------+
|     Name| Departments|Salary|Experience|
+---------+------------+------+----------+
|    Krish|Data Science| 10000|        10|
|    Krish|         IOT|  5000|         8|
|   Mahesh|    Big Data|  4000|         4|
|    Krish|    Big Data|  4000|         3|
|   Mahesh|Data Science|  3000|         1|
|Sudhanshu|Data Science| 20000|         2|
|Sudhanshu|    Big Data|  5000|        10|
|   Harsha|         IOT| 15000|         1|
+---------+------------+------+----------+

In [47]:
df_pyspark.filter(~(df_pyspark['Salary']<=5000)).show()

+---------+------------+------+----------+
|     Name| Departments|Salary|Experience|
+---------+------------+------+----------+
|    Krish|Data Science| 10000|        10|
|Sudhanshu|Data Science| 20000|         2|
|   Harsha|         IOT| 15000|         1|
+---------+------------+------+----------+

# Pyspark GroupBy And Aggregate Functions

## Groupby

In [48]:
df_pyspark.groupby('Name')

In [49]:
# Grouped to find the max salary
df_pyspark.groupby('Name').sum().show()

+---------+-----------+---------------+
|     Name|sum(Salary)|sum(Experience)|
+---------+-----------+---------------+
|Sudhanshu|      25000|             12|
|    Krish|      19000|             21|
|   Harsha|      15000|              1|
|   Mahesh|       7000|              5|
+---------+-----------+---------------+

In [50]:
df_pyspark.groupby('Name').max().show()

+---------+-----------+---------------+
|     Name|max(Salary)|max(Experience)|
+---------+-----------+---------------+
|Sudhanshu|      20000|             10|
|    Krish|      10000|             10|
|   Harsha|      15000|              1|
|   Mahesh|       4000|              4|
+---------+-----------+---------------+

In [51]:
df_pyspark.groupby('Name').min().show()

+---------+-----------+---------------+
|     Name|min(Salary)|min(Experience)|
+---------+-----------+---------------+
|Sudhanshu|       5000|              2|
|    Krish|       4000|              3|
|   Harsha|      15000|              1|
|   Mahesh|       3000|              1|
+---------+-----------+---------------+

In [52]:
df_pyspark.groupby('Name').avg().show()

+---------+-----------------+---------------+
|     Name|      avg(Salary)|avg(Experience)|
+---------+-----------------+---------------+
|Sudhanshu|          12500.0|            6.0|
|    Krish|6333.333333333333|            7.0|
|   Harsha|          15000.0|            1.0|
|   Mahesh|           3500.0|            2.5|
+---------+-----------------+---------------+

In [53]:
# Groupby Departments which gives max salary
df_pyspark.groupby('Departments').sum().show()

+------------+-----------+---------------+
| Departments|sum(Salary)|sum(Experience)|
+------------+-----------+---------------+
|         IOT|      20000|              9|
|    Big Data|      13000|             17|
|Data Science|      33000|             13|
+------------+-----------+---------------+

In [54]:
df_pyspark.groupby('Departments').mean().show()

+------------+-----------------+-----------------+
| Departments|      avg(Salary)|  avg(Experience)|
+------------+-----------------+-----------------+
|         IOT|          10000.0|              4.5|
|    Big Data|4333.333333333333|5.666666666666667|
|Data Science|          11000.0|4.333333333333333|
+------------+-----------------+-----------------+

In [55]:
df_pyspark.groupby('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    3|
|Data Science|    3|
+------------+-----+

In [56]:
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      66000|
+-----------+

## Funcitons

In [57]:
from pyspark.sql.functions import countDistinct, avg,stddev

In [58]:
df_pyspark.select(countDistinct("Departments")).show()

+---------------------------+
|count(DISTINCT Departments)|
+---------------------------+
|                          3|
+---------------------------+

In [59]:
df_pyspark.select(countDistinct("Departments").alias("Distinct Departments")).show()

+--------------------+
|Distinct Departments|
+--------------------+
|                   3|
+--------------------+

In [60]:
df_pyspark.select(avg('Salary')).show()

+-----------+
|avg(Salary)|
+-----------+
|     8250.0|
+-----------+

In [61]:
df_pyspark.select(stddev("Salary")).show()

+-------------------+
|stddev_samp(Salary)|
+-------------------+
|   6227.81777878209|
+-------------------+

That is a lot of precision for digits! Let's use the format_number to fix that!

In [62]:
from pyspark.sql.functions import format_number

In [63]:
df_std = df_pyspark.select(stddev("Salary").alias('std'))

In [64]:
df_std.show()

+----------------+
|             std|
+----------------+
|6227.81777878209|
+----------------+

In [65]:
# format_number("col_name",decimal places)
df_std.select(format_number('std',2)).show()

+---------------------+
|format_number(std, 2)|
+---------------------+
|             6,227.82|
+---------------------+

### Order by

In [66]:
# OrderBy
# Ascending
df_pyspark.orderBy("Name").show()

+---------+------------+------+----------+
|     Name| Departments|Salary|Experience|
+---------+------------+------+----------+
|   Harsha|         IOT| 15000|         1|
|    Krish|Data Science| 10000|        10|
|    Krish|    Big Data|  4000|         3|
|    Krish|         IOT|  5000|         8|
|   Mahesh|    Big Data|  4000|         4|
|   Mahesh|Data Science|  3000|         1|
|Sudhanshu|Data Science| 20000|         2|
|Sudhanshu|    Big Data|  5000|        10|
+---------+------------+------+----------+

In [67]:
# Descending call off the column itself.
df_pyspark.orderBy(df_pyspark["Name"].desc()).show()

+---------+------------+------+----------+
|     Name| Departments|Salary|Experience|
+---------+------------+------+----------+
|Sudhanshu|Data Science| 20000|         2|
|Sudhanshu|    Big Data|  5000|        10|
|   Mahesh|    Big Data|  4000|         4|
|   Mahesh|Data Science|  3000|         1|
|    Krish|Data Science| 10000|        10|
|    Krish|         IOT|  5000|         8|
|    Krish|    Big Data|  4000|         3|
|   Harsha|         IOT| 15000|         1|
+---------+------------+------+----------+

# Dates and Timestamp

In [68]:
from pyspark.sql import SparkSession
# May take a little while on a local computer
spark = SparkSession.builder.appName("dates").getOrCreate()

In [69]:
df = spark.read.csv("appl_stock.csv",header=True,inferSchema=True)

In [70]:
df.show()

+----------+------------------+------------------+------------------+------------------+---------+------------------+
|      Date|              Open|              High|               Low|             Close|   Volume|         Adj Close|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
|2010-01-04|        213.429998|        214.499996|212.38000099999996|        214.009998|123432400|         27.727039|
|2010-01-05|        214.599998|        215.589994|        213.249994|        214.379993|150476200|27.774976000000002|
|2010-01-06|        214.379993|            215.23|        210.750004|        210.969995|138040000|27.333178000000004|
|2010-01-07|            211.75|        212.000006|        209.050005|            210.58|119282800|          27.28265|
|2010-01-08|        210.299994|        212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|
|2010-01-11|212.79999700000002|        213.000002|        208.450005|210.11000299999998|115557400|         27.221758|
|2010-01-12|209.18999499999998|209.76999500000002|        206.419998|        207.720001|148614900|          26.91211|
|2010-01-13|        207.870005|210.92999500000002|        204.099998|        210.650002|151473000|          27.29172|
|2010-01-14|210.11000299999998|210.45999700000002|        209.020004|            209.43|108223500|         27.133657|
|2010-01-15|210.92999500000002|211.59999700000003|        205.869999|            205.93|148516900|26.680197999999997|
|2010-01-19|        208.330002|215.18999900000003|        207.240004|        215.039995|182501900|27.860484999999997|
|2010-01-20|        214.910006|        215.549994|        209.500002|            211.73|153038200|         27.431644|
|2010-01-21|        212.079994|213.30999599999998|        207.210003|        208.069996|152038600|         26.957455|
|2010-01-22|206.78000600000001|        207.499996|            197.16|            197.75|220441900|         25.620401|
|2010-01-25|202.51000200000001|        204.699999|        200.190002|        203.070002|266424900|26.309658000000002|
|2010-01-26|205.95000100000001|        213.710005|        202.580004|        205.940001|466777500|         26.681494|
|2010-01-27|        206.849995|            210.58|        199.530001|        207.880005|430642100|26.932840000000002|
|2010-01-28|        204.930004|        205.500004|        198.699995|        199.289995|293375600|25.819922000000002|
|2010-01-29|        201.079996|        202.199995|        190.250002|        192.060003|311488100|         24.883208|
|2010-02-01|192.36999699999998|             196.0|191.29999899999999|        194.729998|187469100|         25.229131|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
only showing top 20 rows

In [71]:
df.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

In [72]:
from pyspark.sql.functions import format_number,dayofmonth,hour,dayofyear,month,year,weekofyear,date_format

In [73]:
df.select(dayofmonth(df['Date'])).show(5)

+----------------+
|dayofmonth(Date)|
+----------------+
|               4|
|               5|
|               6|
|               7|
|               8|
+----------------+
only showing top 5 rows

In [74]:
df.select(hour(df['Date'])).show(5)

+----------+
|hour(Date)|
+----------+
|         0|
|         0|
|         0|
|         0|
|         0|
+----------+
only showing top 5 rows

In [75]:
df.select(dayofyear(df['Date'])).show(5)

+---------------+
|dayofyear(Date)|
+---------------+
|              4|
|              5|
|              6|
|              7|
|              8|
+---------------+
only showing top 5 rows

In [76]:
df.select(month(df['Date'])).show(5)

+-----------+
|month(Date)|
+-----------+
|          1|
|          1|
|          1|
|          1|
|          1|
+-----------+
only showing top 5 rows

In [77]:
df.select(year(df['Date'])).show(5)

+----------+
|year(Date)|
+----------+
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
+----------+
only showing top 5 rows

In [78]:
df.withColumn("Year",year(df['Date'])).show(5)

+----------+----------+----------+------------------+------------------+---------+------------------+----+
|      Date|      Open|      High|               Low|             Close|   Volume|         Adj Close|Year|
+----------+----------+----------+------------------+------------------+---------+------------------+----+
|2010-01-04|213.429998|214.499996|212.38000099999996|        214.009998|123432400|         27.727039|2010|
|2010-01-05|214.599998|215.589994|        213.249994|        214.379993|150476200|27.774976000000002|2010|
|2010-01-06|214.379993|    215.23|        210.750004|        210.969995|138040000|27.333178000000004|2010|
|2010-01-07|    211.75|212.000006|        209.050005|            210.58|119282800|          27.28265|2010|
|2010-01-08|210.299994|212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|2010|
+----------+----------+----------+------------------+------------------+---------+------------------+----+
only showing top 5 rows

In [79]:
newdf = df.withColumn("Year",year(df['Date']))
newdf.groupBy("Year").mean()[['avg(Year)','avg(Close)']].show()

+---------+------------------+
|avg(Year)|        avg(Close)|
+---------+------------------+
|   2015.0|120.03999980555547|
|   2013.0| 472.6348802857143|
|   2014.0| 295.4023416507935|
|   2012.0| 576.0497195640002|
|   2016.0|104.60400786904763|
|   2010.0| 259.8424600000002|
|   2011.0|364.00432532142867|
+---------+------------------+

In [80]:
result = newdf.groupBy("Year").mean()[['avg(Year)','avg(Close)']]
result = result.withColumnRenamed("avg(Year)","Year")
result = result.select('Year',format_number('avg(Close)',2).alias("Mean Close")).show()

+------+----------+
|  Year|Mean Close|
+------+----------+
|2015.0|    120.04|
|2013.0|    472.63|
|2014.0|    295.40|
|2012.0|    576.05|
|2016.0|    104.60|
|2010.0|    259.84|
|2011.0|    364.00|
+------+----------+

# Examples Of Pyspark ML

In [81]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('ml').getOrCreate()

In [82]:
tips = spark.read.csv('tips.csv', header=True, inferSchema = True)
tips.show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

## Linear Regression

In [83]:
tips.printSchema()

root
 |-- total_bill: double (nullable = true)
 |-- tip: double (nullable = true)
 |-- sex: string (nullable = true)
 |-- smoker: string (nullable = true)
 |-- day: string (nullable = true)
 |-- time: string (nullable = true)
 |-- size: integer (nullable = true)

In [84]:
tips.columns

['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size']

## Handling categorical features

In [85]:
# Handling categorical features
from pyspark.ml.feature import StringIndexer

In [86]:
indexer = StringIndexer(inputCol = "sex", outputCol='sex_indexed')
df = indexer.fit(tips).transform(tips)
df.show()

+----------+----+------+------+---+------+----+-----------+
|total_bill| tip|   sex|smoker|day|  time|size|sex_indexed|
+----------+----+------+------+---+------+----+-----------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|        1.0|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|        0.0|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|        0.0|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|        0.0|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|        1.0|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|        0.0|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|        0.0|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|        0.0|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|        0.0|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|        0.0|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|        0.0|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|        1.0|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|        0.0|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|        0.0|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|        1.0|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|        0.0|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|        1.0|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|        0.0|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|        1.0|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|        0.0|
+----------+----+------+------+---+------+----+-----------+
only showing top 20 rows

In [87]:
indexer = StringIndexer(inputCols = ["smoker","day","time"], outputCols =["smoker_indexed","day_indexed","time_indexed"])
df = indexer.fit(df).transform(df)
df.show()

+----------+----+------+------+---+------+----+-----------+--------------+-----------+------------+
|total_bill| tip|   sex|smoker|day|  time|size|sex_indexed|smoker_indexed|day_indexed|time_indexed|
+----------+----+------+------+---+------+----+-----------+--------------+-----------+------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|        1.0|           0.0|        1.0|         0.0|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|         0.0|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|         0.0|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|        1.0|           0.0|        1.0|         0.0|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|         0.0|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|         0.0|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|        1.0|           0.0|        1.0|         0.0|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|         0.0|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|        1.0|           0.0|        1.0|         0.0|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|        1.0|           0.0|        1.0|         0.0|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|         0.0|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|        1.0|           0.0|        1.0|         0.0|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|        0.0|           0.0|        0.0|         0.0|
+----------+----+------+------+---+------+----+-----------+--------------+-----------+------------+
only showing top 20 rows

In [88]:
df.columns

['total_bill',
 'tip',
 'sex',
 'smoker',
 'day',
 'time',
 'size',
 'sex_indexed',
 'smoker_indexed',
 'day_indexed',
 'time_indexed']

In [89]:
from pyspark.ml.feature import VectorAssembler

featureassembler = VectorAssembler(inputCols=['tip','size','sex_indexed', 'smoker_indexed','day_indexed', 'time_indexed'],
                                   outputCol= "Independent Features")
output = featureassembler.transform(df)

In [90]:
output.show()

+----------+----+------+------+---+------+----+-----------+--------------+-----------+------------+--------------------+
|total_bill| tip|   sex|smoker|day|  time|size|sex_indexed|smoker_indexed|day_indexed|time_indexed|Independent Features|
+----------+----+------+------+---+------+----+-----------+--------------+-----------+------------+--------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|        1.0|           0.0|        1.0|         0.0|[1.01,2.0,1.0,0.0...|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|         0.0|[1.66,3.0,0.0,0.0...|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|         0.0|[3.5,3.0,0.0,0.0,...|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|[3.31,2.0,0.0,0.0...|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|        1.0|           0.0|        1.0|         0.0|[3.61,4.0,1.0,0.0...|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|         0.0|[4.71,4.0,0.0,0.0...|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|[2.0,2.0,0.0,0.0,...|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|         0.0|[3.12,4.0,0.0,0.0...|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|[1.96,2.0,0.0,0.0...|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|[3.23,2.0,0.0,0.0...|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|[1.71,2.0,0.0,0.0...|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|        1.0|           0.0|        1.0|         0.0|[5.0,4.0,1.0,0.0,...|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|[1.57,2.0,0.0,0.0...|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|         0.0|[3.0,4.0,0.0,0.0,...|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|        1.0|           0.0|        1.0|         0.0|[3.02,2.0,1.0,0.0...|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|[3.92,2.0,0.0,0.0...|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|        1.0|           0.0|        1.0|         0.0|[1.67,3.0,1.0,0.0...|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|         0.0|[3.71,3.0,0.0,0.0...|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|        1.0|           0.0|        1.0|         0.0|[3.5,3.0,1.0,0.0,...|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|        0.0|           0.0|        0.0|         0.0|(6,[0,1],[3.35,3.0])|
+----------+----+------+------+---+------+----+-----------+--------------+-----------+------------+--------------------+
only showing top 20 rows

In [91]:
output.select('Independent Features').show()

+--------------------+
|Independent Features|
+--------------------+
|[1.01,2.0,1.0,0.0...|
|[1.66,3.0,0.0,0.0...|
|[3.5,3.0,0.0,0.0,...|
|[3.31,2.0,0.0,0.0...|
|[3.61,4.0,1.0,0.0...|
|[4.71,4.0,0.0,0.0...|
|[2.0,2.0,0.0,0.0,...|
|[3.12,4.0,0.0,0.0...|
|[1.96,2.0,0.0,0.0...|
|[3.23,2.0,0.0,0.0...|
|[1.71,2.0,0.0,0.0...|
|[5.0,4.0,1.0,0.0,...|
|[1.57,2.0,0.0,0.0...|
|[3.0,4.0,0.0,0.0,...|
|[3.02,2.0,1.0,0.0...|
|[3.92,2.0,0.0,0.0...|
|[1.67,3.0,1.0,0.0...|
|[3.71,3.0,0.0,0.0...|
|[3.5,3.0,1.0,0.0,...|
|(6,[0,1],[3.35,3.0])|
+--------------------+
only showing top 20 rows

In [92]:
finalized_data = output.select("Independent Features", "total_bill")

In [93]:
finalized_data.show()

+--------------------+----------+
|Independent Features|total_bill|
+--------------------+----------+
|[1.01,2.0,1.0,0.0...|     16.99|
|[1.66,3.0,0.0,0.0...|     10.34|
|[3.5,3.0,0.0,0.0,...|     21.01|
|[3.31,2.0,0.0,0.0...|     23.68|
|[3.61,4.0,1.0,0.0...|     24.59|
|[4.71,4.0,0.0,0.0...|     25.29|
|[2.0,2.0,0.0,0.0,...|      8.77|
|[3.12,4.0,0.0,0.0...|     26.88|
|[1.96,2.0,0.0,0.0...|     15.04|
|[3.23,2.0,0.0,0.0...|     14.78|
|[1.71,2.0,0.0,0.0...|     10.27|
|[5.0,4.0,1.0,0.0,...|     35.26|
|[1.57,2.0,0.0,0.0...|     15.42|
|[3.0,4.0,0.0,0.0,...|     18.43|
|[3.02,2.0,1.0,0.0...|     14.83|
|[3.92,2.0,0.0,0.0...|     21.58|
|[1.67,3.0,1.0,0.0...|     10.33|
|[3.71,3.0,0.0,0.0...|     16.29|
|[3.5,3.0,1.0,0.0,...|     16.97|
|(6,[0,1],[3.35,3.0])|     20.65|
+--------------------+----------+
only showing top 20 rows

In [94]:
from pyspark.ml.regression import LinearRegression

#train test split
train_data, test_data = finalized_data.randomSplit([0.75,0.25])
regressor = LinearRegression(featuresCol = 'Independent Features', labelCol='total_bill')
regressor = regressor.fit(train_data)

22/03/31 08:04:22 WARN Instrumentation: [fbd3c730] regParam is zero, which might cause numerical instability and overfitting.
22/03/31 08:04:22 WARN BLAS: Failed to load implementation from: com.github.fommil.netlib.NativeSystemBLAS
22/03/31 08:04:22 WARN BLAS: Failed to load implementation from: com.github.fommil.netlib.NativeRefBLAS
22/03/31 08:04:22 WARN LAPACK: Failed to load implementation from: com.github.fommil.netlib.NativeSystemLAPACK
22/03/31 08:04:22 WARN LAPACK: Failed to load implementation from: com.github.fommil.netlib.NativeRefLAPACK

In [95]:
regressor.coefficients

DenseVector([2.9617, 4.1035, -0.9153, 2.3002, -0.6408, -0.0401])

In [96]:
regressor.intercept

0.48864279052237697

In [97]:
# Prediction
pred_result = regressor.evaluate(test_data)

In [98]:
pred_result.predictions.show()

+--------------------+----------+------------------+
|Independent Features|total_bill|        prediction|
+--------------------+----------+------------------+
|(6,[0,1],[1.25,2.0])|     10.07|12.397647946329439|
|(6,[0,1],[1.47,2.0])|     10.77|13.049213665922537|
|(6,[0,1],[1.75,2.0])|     17.82|13.878479127222844|
|(6,[0,1],[2.72,2.0])|     13.28| 16.75129161815605|
| (6,[0,1],[3.0,4.0])|     20.45|25.787484283029904|
|(6,[0,1],[3.18,2.0])|     19.82| 18.11365630457798|
|[1.0,1.0,1.0,1.0,...|      3.07| 8.938622935990164|
|[1.5,2.0,0.0,1.0,...|     15.69|14.797424931045576|
|[1.5,2.0,1.0,0.0,...|      8.35|10.901000544174412|
|[1.64,2.0,0.0,1.0...|     15.36|15.852892537672426|
|[1.66,3.0,0.0,0.0...|     10.34|17.074558240472115|
|[1.8,2.0,1.0,0.0,...|     12.43|11.789499252710456|
|[1.83,1.0,1.0,0.0...|     10.07| 7.774885521777286|
|[1.96,2.0,0.0,0.0...|     15.04|13.859593347221379|
|[2.0,2.0,0.0,0.0,...|     13.81| 13.97805984169285|
|[2.0,2.0,0.0,1.0,...|     14.48|16.278256111938983|
|[2.0,2.0,1.0,0.0,...|     11.38|12.381831725067817|
|[2.01,2.0,1.0,1.0...|     12.74|14.711644618931816|
|[2.05,3.0,0.0,0.0...|     28.55|18.229606561568964|
|[2.09,2.0,0.0,1.0...|     15.01| 17.18564060047649|
+--------------------+----------+------------------+
only showing top 20 rows

In [99]:
pred_result.r2, pred_result.meanAbsoluteError, pred_result.meanSquaredError

(0.46475134477174473, 4.264672612129887, 34.99137053567226)