In [4]:
!pip install pyspark

Requirement already satisfied: pyspark in /Users/seyda.ozdemir/.conda/envs/Downloads/lib/python3.8/site-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in /Users/seyda.ozdemir/.conda/envs/Downloads/lib/python3.8/site-packages (from pyspark) (0.10.9.3)
WARNING: You are using pip version 22.0.3; however, version 22.0.4 is available.
You should consider upgrading via the '/Users/seyda.ozdemir/.conda/envs/Downloads/bin/python -m pip install --upgrade pip' command.

In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('practise').getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.1.2-bin-hadoop3.2/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
22/03/31 08:02:04 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [4]:
spark

# Read Dataset

In [100]:
#read the Dataset
spark.read.option('header','true').option('sep',';').csv('Kitap3.csv').show()

+---------+------------+------+----------+
|     Name| Departments|Salary|Experience|
+---------+------------+------+----------+
|    Krish|Data Science| 10000|        10|
|    Krish|         IOT|  5000|         8|
|   Mahesh|    Big Data|  4000|         4|
|    Krish|    Big Data|  4000|         3|
|   Mahesh|Data Science|  3000|         1|
|Sudhanshu|Data Science| 20000|         2|
|Sudhanshu|         IOT| 10000|      null|
|Sudhanshu|    Big Data|  5000|        10|
|    Sunny|Data Science| 10000|      null|
|    Sunny|    Big Data|  2000|      null|
|   Harsha|         IOT| 15000|         1|
|  Shubham|        null|  null|         2|
|   Mahesh|Data Science| 40000|      null|
|     null|    Big Data| 38000|        10|
+---------+------------+------+----------+

In [102]:
df_pyspark = spark.read.csv('Kitap3.csv', header=True, sep=';', inferSchema=True)

In [7]:
df_pyspark.show()

+---------+------------+------+----------+
|     Name| Departments|Salary|Experience|
+---------+------------+------+----------+
|    Krish|Data Science| 10000|        10|
|    Krish|         IOT|  5000|         8|
|   Mahesh|    Big Data|  4000|         4|
|    Krish|    Big Data|  4000|         3|
|   Mahesh|Data Science|  3000|         1|
|Sudhanshu|Data Science| 20000|         2|
|Sudhanshu|         IOT| 10000|      null|
|Sudhanshu|    Big Data|  5000|        10|
|    Sunny|Data Science| 10000|      null|
|    Sunny|    Big Data|  2000|      null|
|   Harsha|         IOT| 15000|         1|
|  Shubham|        null|  null|         2|
|   Mahesh|Data Science| 40000|      null|
|     null|    Big Data| 38000|        10|
+---------+------------+------+----------+

In [8]:
# Checking the Datatypes of the Columns
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [9]:
# What is type of data
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

## Selecting Columns and indexing

In [10]:
df_pyspark.columns

['Name', 'Departments', 'Salary', 'Experience']

In [11]:
#selecting index
df_pyspark.head(3)

[Row(Name='Krish', Departments='Data Science', Salary=10000, Experience=10),
 Row(Name='Krish', Departments='IOT', Salary=5000, Experience=8),
 Row(Name='Mahesh', Departments='Big Data', Salary=4000, Experience=4)]

In [12]:
df_pyspark.show()

+---------+------------+------+----------+
|     Name| Departments|Salary|Experience|
+---------+------------+------+----------+
|    Krish|Data Science| 10000|        10|
|    Krish|         IOT|  5000|         8|
|   Mahesh|    Big Data|  4000|         4|
|    Krish|    Big Data|  4000|         3|
|   Mahesh|Data Science|  3000|         1|
|Sudhanshu|Data Science| 20000|         2|
|Sudhanshu|         IOT| 10000|      null|
|Sudhanshu|    Big Data|  5000|        10|
|    Sunny|Data Science| 10000|      null|
|    Sunny|    Big Data|  2000|      null|
|   Harsha|         IOT| 15000|         1|
|  Shubham|        null|  null|         2|
|   Mahesh|Data Science| 40000|      null|
|     null|    Big Data| 38000|        10|
+---------+------------+------+----------+

In [13]:
df_pyspark.select('Name')

DataFrame[Name: string]

In [14]:
df_pyspark.select('Name').show()

+---------+
|     Name|
+---------+
|    Krish|
|    Krish|
|   Mahesh|
|    Krish|
|   Mahesh|
|Sudhanshu|
|Sudhanshu|
|Sudhanshu|
|    Sunny|
|    Sunny|
|   Harsha|
|  Shubham|
|   Mahesh|
|     null|
+---------+

In [15]:
df_pyspark.select(['Name','Salary'])

DataFrame[Name: string, Salary: int]

In [16]:
df_pyspark.select(['Name','Salary']).show()

+---------+------+
|     Name|Salary|
+---------+------+
|    Krish| 10000|
|    Krish|  5000|
|   Mahesh|  4000|
|    Krish|  4000|
|   Mahesh|  3000|
|Sudhanshu| 20000|
|Sudhanshu| 10000|
|Sudhanshu|  5000|
|    Sunny| 10000|
|    Sunny|  2000|
|   Harsha| 15000|
|  Shubham|  null|
|   Mahesh| 40000|
|     null| 38000|
+---------+------+

In [17]:
df_pyspark['Name'] # can't use the show()

Column<'Name'>

In [18]:
df_pyspark.dtypes

[('Name', 'string'),
 ('Departments', 'string'),
 ('Salary', 'int'),
 ('Experience', 'int')]

## Check Describe option similar to Pandas

In [19]:
df_pyspark.describe()

DataFrame[summary: string, Name: string, Departments: string, Salary: string, Experience: string]

In [20]:
df_pyspark.describe().show()

+-------+------+-----------+------------------+------------------+
|summary|  Name|Departments|            Salary|        Experience|
+-------+------+-----------+------------------+------------------+
|  count|    13|         13|                13|                10|
|   mean|  null|       null| 12769.23076923077|               5.1|
| stddev|  null|       null|12728.929296120747|3.9285281382896233|
|    min|Harsha|   Big Data|              2000|                 1|
|    max| Sunny|        IOT|             40000|                10|
+-------+------+-----------+------------------+------------------+

## Adding Columns in data frame

In [21]:
df_pyspark.withColumn('Salary with tips', df_pyspark['Salary']+df_pyspark['Salary']*0.2)

DataFrame[Name: string, Departments: string, Salary: int, Experience: int, Salary with tips: double]

In [22]:
df_pyspark = df_pyspark.withColumn('Salary with tips', df_pyspark['Salary']+df_pyspark['Salary']*0.2)
df_pyspark.show()

+---------+------------+------+----------+----------------+
|     Name| Departments|Salary|Experience|Salary with tips|
+---------+------------+------+----------+----------------+
|    Krish|Data Science| 10000|        10|         12000.0|
|    Krish|         IOT|  5000|         8|          6000.0|
|   Mahesh|    Big Data|  4000|         4|          4800.0|
|    Krish|    Big Data|  4000|         3|          4800.0|
|   Mahesh|Data Science|  3000|         1|          3600.0|
|Sudhanshu|Data Science| 20000|         2|         24000.0|
|Sudhanshu|         IOT| 10000|      null|         12000.0|
|Sudhanshu|    Big Data|  5000|        10|          6000.0|
|    Sunny|Data Science| 10000|      null|         12000.0|
|    Sunny|    Big Data|  2000|      null|          2400.0|
|   Harsha|         IOT| 15000|         1|         18000.0|
|  Shubham|        null|  null|         2|            null|
|   Mahesh|Data Science| 40000|      null|         48000.0|
|     null|    Big Data| 38000|        10|         45600.0|
+---------+------------+------+----------+----------------+

## Dropping Columns

In [23]:
df_pyspark.drop('Salary with tips')

DataFrame[Name: string, Departments: string, Salary: int, Experience: int]

In [24]:
df_pyspark.drop('Salary with tips').show()

+---------+------------+------+----------+
|     Name| Departments|Salary|Experience|
+---------+------------+------+----------+
|    Krish|Data Science| 10000|        10|
|    Krish|         IOT|  5000|         8|
|   Mahesh|    Big Data|  4000|         4|
|    Krish|    Big Data|  4000|         3|
|   Mahesh|Data Science|  3000|         1|
|Sudhanshu|Data Science| 20000|         2|
|Sudhanshu|         IOT| 10000|      null|
|Sudhanshu|    Big Data|  5000|        10|
|    Sunny|Data Science| 10000|      null|
|    Sunny|    Big Data|  2000|      null|
|   Harsha|         IOT| 15000|         1|
|  Shubham|        null|  null|         2|
|   Mahesh|Data Science| 40000|      null|
|     null|    Big Data| 38000|        10|
+---------+------------+------+----------+

In [25]:
df_pyspark = df_pyspark.drop('Salary with tips')
df_pyspark.show()

+---------+------------+------+----------+
|     Name| Departments|Salary|Experience|
+---------+------------+------+----------+
|    Krish|Data Science| 10000|        10|
|    Krish|         IOT|  5000|         8|
|   Mahesh|    Big Data|  4000|         4|
|    Krish|    Big Data|  4000|         3|
|   Mahesh|Data Science|  3000|         1|
|Sudhanshu|Data Science| 20000|         2|
|Sudhanshu|         IOT| 10000|      null|
|Sudhanshu|    Big Data|  5000|        10|
|    Sunny|Data Science| 10000|      null|
|    Sunny|    Big Data|  2000|      null|
|   Harsha|         IOT| 15000|         1|
|  Shubham|        null|  null|         2|
|   Mahesh|Data Science| 40000|      null|
|     null|    Big Data| 38000|        10|
+---------+------------+------+----------+

## Rename the columns

In [26]:
df_pyspark.withColumnRenamed('Name','New Name').show()

+---------+------------+------+----------+
| New Name| Departments|Salary|Experience|
+---------+------------+------+----------+
|    Krish|Data Science| 10000|        10|
|    Krish|         IOT|  5000|         8|
|   Mahesh|    Big Data|  4000|         4|
|    Krish|    Big Data|  4000|         3|
|   Mahesh|Data Science|  3000|         1|
|Sudhanshu|Data Science| 20000|         2|
|Sudhanshu|         IOT| 10000|      null|
|Sudhanshu|    Big Data|  5000|        10|
|    Sunny|Data Science| 10000|      null|
|    Sunny|    Big Data|  2000|      null|
|   Harsha|         IOT| 15000|         1|
|  Shubham|        null|  null|         2|
|   Mahesh|Data Science| 40000|      null|
|     null|    Big Data| 38000|        10|
+---------+------------+------+----------+

# Pyspark Handling Missing Values

In [27]:
df_pyspark.show()

+---------+------------+------+----------+
|     Name| Departments|Salary|Experience|
+---------+------------+------+----------+
|    Krish|Data Science| 10000|        10|
|    Krish|         IOT|  5000|         8|
|   Mahesh|    Big Data|  4000|         4|
|    Krish|    Big Data|  4000|         3|
|   Mahesh|Data Science|  3000|         1|
|Sudhanshu|Data Science| 20000|         2|
|Sudhanshu|         IOT| 10000|      null|
|Sudhanshu|    Big Data|  5000|        10|
|    Sunny|Data Science| 10000|      null|
|    Sunny|    Big Data|  2000|      null|
|   Harsha|         IOT| 15000|         1|
|  Shubham|        null|  null|         2|
|   Mahesh|Data Science| 40000|      null|
|     null|    Big Data| 38000|        10|
+---------+------------+------+----------+

## Drop the missing data

You can use the .na functions for missing data. The drop command has the following parameters:

    df.na.drop(how='any', thresh=None, subset=None)
    
    * param how: 'any' or 'all'.
    
        If 'any', drop a row if it contains any nulls.
        If 'all', drop a row only if all its values are null.
    
    * param thresh: int, default None
    
        If specified, drop rows that have less than `thresh` non-null values.
        This overwrites the `how` parameter.
        
    * param subset: 
        optional list of column names to consider.

In [28]:
df_pyspark.drop('Name').show()

+------------+------+----------+
| Departments|Salary|Experience|
+------------+------+----------+
|Data Science| 10000|        10|
|         IOT|  5000|         8|
|    Big Data|  4000|         4|
|    Big Data|  4000|         3|
|Data Science|  3000|         1|
|Data Science| 20000|         2|
|         IOT| 10000|      null|
|    Big Data|  5000|        10|
|Data Science| 10000|      null|
|    Big Data|  2000|      null|
|         IOT| 15000|         1|
|        null|  null|         2|
|Data Science| 40000|      null|
|    Big Data| 38000|        10|
+------------+------+----------+

### Dropping Rows

In [29]:
#Drop nan rows
df_pyspark.na.drop().show()

+---------+------------+------+----------+
|     Name| Departments|Salary|Experience|
+---------+------------+------+----------+
|    Krish|Data Science| 10000|        10|
|    Krish|         IOT|  5000|         8|
|   Mahesh|    Big Data|  4000|         4|
|    Krish|    Big Data|  4000|         3|
|   Mahesh|Data Science|  3000|         1|
|Sudhanshu|Data Science| 20000|         2|
|Sudhanshu|    Big Data|  5000|        10|
|   Harsha|         IOT| 15000|         1|
+---------+------------+------+----------+

In [30]:
#If 'any', drop a row if it contains any nulls.
#If 'all', drop a row only if all its values are null.

df_pyspark.na.drop(how='all').show()

+---------+------------+------+----------+
|     Name| Departments|Salary|Experience|
+---------+------------+------+----------+
|    Krish|Data Science| 10000|        10|
|    Krish|         IOT|  5000|         8|
|   Mahesh|    Big Data|  4000|         4|
|    Krish|    Big Data|  4000|         3|
|   Mahesh|Data Science|  3000|         1|
|Sudhanshu|Data Science| 20000|         2|
|Sudhanshu|         IOT| 10000|      null|
|Sudhanshu|    Big Data|  5000|        10|
|    Sunny|Data Science| 10000|      null|
|    Sunny|    Big Data|  2000|      null|
|   Harsha|         IOT| 15000|         1|
|  Shubham|        null|  null|         2|
|   Mahesh|Data Science| 40000|      null|
|     null|    Big Data| 38000|        10|
+---------+------------+------+----------+

In [31]:
#treshold: If specified, drop rows that have less than `thresh` non-null values.
df_pyspark.na.drop(how='any' ,thresh = 1).show()

+---------+------------+------+----------+
|     Name| Departments|Salary|Experience|
+---------+------------+------+----------+
|    Krish|Data Science| 10000|        10|
|    Krish|         IOT|  5000|         8|
|   Mahesh|    Big Data|  4000|         4|
|    Krish|    Big Data|  4000|         3|
|   Mahesh|Data Science|  3000|         1|
|Sudhanshu|Data Science| 20000|         2|
|Sudhanshu|         IOT| 10000|      null|
|Sudhanshu|    Big Data|  5000|        10|
|    Sunny|Data Science| 10000|      null|
|    Sunny|    Big Data|  2000|      null|
|   Harsha|         IOT| 15000|         1|
|  Shubham|        null|  null|         2|
|   Mahesh|Data Science| 40000|      null|
|     null|    Big Data| 38000|        10|
+---------+------------+------+----------+

In [32]:
df_pyspark.na.drop(how='any' ,thresh = 3).show()

+---------+------------+------+----------+
|     Name| Departments|Salary|Experience|
+---------+------------+------+----------+
|    Krish|Data Science| 10000|        10|
|    Krish|         IOT|  5000|         8|
|   Mahesh|    Big Data|  4000|         4|
|    Krish|    Big Data|  4000|         3|
|   Mahesh|Data Science|  3000|         1|
|Sudhanshu|Data Science| 20000|         2|
|Sudhanshu|         IOT| 10000|      null|
|Sudhanshu|    Big Data|  5000|        10|
|    Sunny|Data Science| 10000|      null|
|    Sunny|    Big Data|  2000|      null|
|   Harsha|         IOT| 15000|         1|
|   Mahesh|Data Science| 40000|      null|
|     null|    Big Data| 38000|        10|
+---------+------------+------+----------+

In [33]:
#Subset: select column and drop that column have null values
df_pyspark.na.drop(how='any' ,subset = ['Experience']).show()

+---------+------------+------+----------+
|     Name| Departments|Salary|Experience|
+---------+------------+------+----------+
|    Krish|Data Science| 10000|        10|
|    Krish|         IOT|  5000|         8|
|   Mahesh|    Big Data|  4000|         4|
|    Krish|    Big Data|  4000|         3|
|   Mahesh|Data Science|  3000|         1|
|Sudhanshu|Data Science| 20000|         2|
|Sudhanshu|    Big Data|  5000|        10|
|   Harsha|         IOT| 15000|         1|
|  Shubham|        null|  null|         2|
|     null|    Big Data| 38000|        10|
+---------+------------+------+----------+

## Filling the Missing Value

In [103]:
# Filling the string columns
df_pyspark.na.fill('Missing Values',['Name','Salary']).show()

+--------------+------------+------+----------+
|          Name| Departments|Salary|Experience|
+--------------+------------+------+----------+
|         Krish|Data Science| 10000|        10|
|         Krish|         IOT|  5000|         8|
|        Mahesh|    Big Data|  4000|         4|
|         Krish|    Big Data|  4000|         3|
|        Mahesh|Data Science|  3000|         1|
|     Sudhanshu|Data Science| 20000|         2|
|     Sudhanshu|         IOT| 10000|      null|
|     Sudhanshu|    Big Data|  5000|        10|
|         Sunny|Data Science| 10000|      null|
|         Sunny|    Big Data|  2000|      null|
|        Harsha|         IOT| 15000|         1|
|       Shubham|        null|  null|         2|
|        Mahesh|Data Science| 40000|      null|
|Missing Values|    Big Data| 38000|        10|
+--------------+------------+------+----------+

In [35]:
# Filling the integer columns
df_pyspark.na.fill(0,['Experience','Salary']).show()

+---------+------------+------+----------+
|     Name| Departments|Salary|Experience|
+---------+------------+------+----------+
|    Krish|Data Science| 10000|        10|
|    Krish|         IOT|  5000|         8|
|   Mahesh|    Big Data|  4000|         4|
|    Krish|    Big Data|  4000|         3|
|   Mahesh|Data Science|  3000|         1|
|Sudhanshu|Data Science| 20000|         2|
|Sudhanshu|         IOT| 10000|         0|
|Sudhanshu|    Big Data|  5000|        10|
|    Sunny|Data Science| 10000|         0|
|    Sunny|    Big Data|  2000|         0|
|   Harsha|         IOT| 15000|         1|
|  Shubham|        null|     0|         2|
|   Mahesh|Data Science| 40000|         0|
|     null|    Big Data| 38000|        10|
+---------+------------+------+----------+

## Handling Missing values by Mean, Median and Mode

### Filling null values between mean, median


Imputation estimator for completing missing values, using the mean, median or mode
of the columns in which the missing values are located. The input columns should be of
numeric type. Currently Imputer does not support categorical features and
possibly creates incorrect values for a categorical feature.

In [37]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols = ['Experience','Salary'],
    outputCols=["{}_imputed".format(c) for c in ['Experience','Salary']]
    ).setStrategy("mean")

In [38]:
# Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+---------+------------+------+----------+------------------+--------------+
|     Name| Departments|Salary|Experience|Experience_imputed|Salary_imputed|
+---------+------------+------+----------+------------------+--------------+
|    Krish|Data Science| 10000|        10|                10|         10000|
|    Krish|         IOT|  5000|         8|                 8|          5000|
|   Mahesh|    Big Data|  4000|         4|                 4|          4000|
|    Krish|    Big Data|  4000|         3|                 3|          4000|
|   Mahesh|Data Science|  3000|         1|                 1|          3000|
|Sudhanshu|Data Science| 20000|         2|                 2|         20000|
|Sudhanshu|         IOT| 10000|      null|                 5|         10000|
|Sudhanshu|    Big Data|  5000|        10|                10|          5000|
|    Sunny|Data Science| 10000|      null|                 5|         10000|
|    Sunny|    Big Data|  2000|      null|                 5|          2000|
|   Harsha|         IOT| 15000|         1|                 1|         15000|
|  Shubham|        null|  null|         2|                 2|         12769|
|   Mahesh|Data Science| 40000|      null|                 5|         40000|
|     null|    Big Data| 38000|        10|                10|         38000|
+---------+------------+------+----------+------------------+--------------+

In [39]:
imputer = Imputer(
    inputCols = ['Experience','Salary'],
    outputCols=["{}_imputed".format(c) for c in ['Experience','Salary']]
    ).setStrategy("median")

imputer.fit(df_pyspark).transform(df_pyspark).show()

+---------+------------+------+----------+------------------+--------------+
|     Name| Departments|Salary|Experience|Experience_imputed|Salary_imputed|
+---------+------------+------+----------+------------------+--------------+
|    Krish|Data Science| 10000|        10|                10|         10000|
|    Krish|         IOT|  5000|         8|                 8|          5000|
|   Mahesh|    Big Data|  4000|         4|                 4|          4000|
|    Krish|    Big Data|  4000|         3|                 3|          4000|
|   Mahesh|Data Science|  3000|         1|                 1|          3000|
|Sudhanshu|Data Science| 20000|         2|                 2|         20000|
|Sudhanshu|         IOT| 10000|      null|                 3|         10000|
|Sudhanshu|    Big Data|  5000|        10|                10|          5000|
|    Sunny|Data Science| 10000|      null|                 3|         10000|
|    Sunny|    Big Data|  2000|      null|                 3|          2000|
|   Harsha|         IOT| 15000|         1|                 1|         15000|
|  Shubham|        null|  null|         2|                 2|         10000|
|   Mahesh|Data Science| 40000|      null|                 3|         40000|
|     null|    Big Data| 38000|        10|                10|         38000|
+---------+------------+------+----------+------------------+--------------+

# Pyspark Dataframes

In [104]:
df_pyspark= df_pyspark.na.drop()
df_pyspark.show()

+---------+------------+------+----------+
|     Name| Departments|Salary|Experience|
+---------+------------+------+----------+
|    Krish|Data Science| 10000|        10|
|    Krish|         IOT|  5000|         8|
|   Mahesh|    Big Data|  4000|         4|
|    Krish|    Big Data|  4000|         3|
|   Mahesh|Data Science|  3000|         1|
|Sudhanshu|Data Science| 20000|         2|
|Sudhanshu|    Big Data|  5000|        10|
|   Harsha|         IOT| 15000|         1|
+---------+------------+------+----------+

## Filter Operation

In [41]:
## Salary of the people less than or equal to 20000
df_pyspark.filter("Salary<=20000").show()

+---------+------------+------+----------+
|     Name| Departments|Salary|Experience|
+---------+------------+------+----------+
|    Krish|Data Science| 10000|        10|
|    Krish|         IOT|  5000|         8|
|   Mahesh|    Big Data|  4000|         4|
|    Krish|    Big Data|  4000|         3|
|   Mahesh|Data Science|  3000|         1|
|Sudhanshu|Data Science| 20000|         2|
|Sudhanshu|    Big Data|  5000|        10|
|   Harsha|         IOT| 15000|         1|
+---------+------------+------+----------+

In [42]:
df_pyspark.filter("Salary<=20000").select(['Name','Experience']).show()

+---------+----------+
|     Name|Experience|
+---------+----------+
|    Krish|        10|
|    Krish|         8|
|   Mahesh|         4|
|    Krish|         3|
|   Mahesh|         1|
|Sudhanshu|         2|
|Sudhanshu|        10|
|   Harsha|         1|
+---------+----------+

In [43]:
df_pyspark.filter(df_pyspark['Salary']<=20000).show()

+---------+------------+------+----------+
|     Name| Departments|Salary|Experience|
+---------+------------+------+----------+
|    Krish|Data Science| 10000|        10|
|    Krish|         IOT|  5000|         8|
|   Mahesh|    Big Data|  4000|         4|
|    Krish|    Big Data|  4000|         3|
|   Mahesh|Data Science|  3000|         1|
|Sudhanshu|Data Science| 20000|         2|
|Sudhanshu|    Big Data|  5000|        10|
|   Harsha|         IOT| 15000|         1|
+---------+------------+------+----------+

In [44]:
df_pyspark.filter((df_pyspark['Salary']<=20000) & 
                  (df_pyspark['Salary']>=15000)).show()

+---------+------------+------+----------+
|     Name| Departments|Salary|Experience|
+---------+------------+------+----------+
|Sudhanshu|Data Science| 20000|         2|
|   Harsha|         IOT| 15000|         1|
+---------+------------+------+----------+

In [45]:
df_pyspark.filter((df_pyspark['Salary']<=20000) | 
                  (df_pyspark['Salary']>=15000)).show()

+---------+------------+------+----------+
|     Name| Departments|Salary|Experience|
+---------+------------+------+----------+
|    Krish|Data Science| 10000|        10|
|    Krish|         IOT|  5000|         8|
|   Mahesh|    Big Data|  4000|         4|
|    Krish|    Big Data|  4000|         3|
|   Mahesh|Data Science|  3000|         1|
|Sudhanshu|Data Science| 20000|         2|
|Sudhanshu|    Big Data|  5000|        10|
|   Harsha|         IOT| 15000|         1|
+---------+------------+------+----------+

In [47]:
df_pyspark.filter(~(df_pyspark['Salary']<=5000)).show()

+---------+------------+------+----------+
|     Name| Departments|Salary|Experience|
+---------+------------+------+----------+
|    Krish|Data Science| 10000|        10|
|Sudhanshu|Data Science| 20000|         2|
|   Harsha|         IOT| 15000|         1|
+---------+------------+------+----------+

# Pyspark GroupBy And Aggregate Functions

## Groupby

In [48]:
df_pyspark.groupby('Name')

In [49]:
# Grouped to find the max salary
df_pyspark.groupby('Name').sum().show()

+---------+-----------+---------------+
|     Name|sum(Salary)|sum(Experience)|
+---------+-----------+---------------+
|Sudhanshu|      25000|             12|
|    Krish|      19000|             21|
|   Harsha|      15000|              1|
|   Mahesh|       7000|              5|
+---------+-----------+---------------+

In [50]:
df_pyspark.groupby('Name').max().show()

+---------+-----------+---------------+
|     Name|max(Salary)|max(Experience)|
+---------+-----------+---------------+
|Sudhanshu|      20000|             10|
|    Krish|      10000|             10|
|   Harsha|      15000|              1|
|   Mahesh|       4000|              4|
+---------+-----------+---------------+

In [51]:
df_pyspark.groupby('Name').min().show()

+---------+-----------+---------------+
|     Name|min(Salary)|min(Experience)|
+---------+-----------+---------------+
|Sudhanshu|       5000|              2|
|    Krish|       4000|              3|
|   Harsha|      15000|              1|
|   Mahesh|       3000|              1|
+---------+-----------+---------------+

In [52]:
df_pyspark.groupby('Name').avg().show()

+---------+-----------------+---------------+
|     Name|      avg(Salary)|avg(Experience)|
+---------+-----------------+---------------+
|Sudhanshu|          12500.0|            6.0|
|    Krish|6333.333333333333|            7.0|
|   Harsha|          15000.0|            1.0|
|   Mahesh|           3500.0|            2.5|
+---------+-----------------+---------------+

In [53]:
# Groupby Departments which gives max salary
df_pyspark.groupby('Departments').sum().show()

+------------+-----------+---------------+
| Departments|sum(Salary)|sum(Experience)|
+------------+-----------+---------------+
|         IOT|      20000|              9|
|    Big Data|      13000|             17|
|Data Science|      33000|             13|
+------------+-----------+---------------+

In [54]:
df_pyspark.groupby('Departments').mean().show()

+------------+-----------------+-----------------+
| Departments|      avg(Salary)|  avg(Experience)|
+------------+-----------------+-----------------+
|         IOT|          10000.0|              4.5|
|    Big Data|4333.333333333333|5.666666666666667|
|Data Science|          11000.0|4.333333333333333|
+------------+-----------------+-----------------+

In [55]:
df_pyspark.groupby('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    3|
|Data Science|    3|
+------------+-----+

In [56]:
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      66000|
+-----------+

## Funcitons

In [57]:
from pyspark.sql.functions import countDistinct, avg,stddev

In [58]:
df_pyspark.select(countDistinct("Departments")).show()

+---------------------------+
|count(DISTINCT Departments)|
+---------------------------+
|                          3|
+---------------------------+

In [59]:
df_pyspark.select(countDistinct("Departments").alias("Distinct Departments")).show()

+--------------------+
|Distinct Departments|
+--------------------+
|                   3|
+--------------------+

In [60]:
df_pyspark.select(avg('Salary')).show()

+-----------+
|avg(Salary)|
+-----------+
|     8250.0|
+-----------+

In [61]:
df_pyspark.select(stddev("Salary")).show()

+-------------------+
|stddev_samp(Salary)|
+-------------------+
|   6227.81777878209|
+-------------------+

That is a lot of precision for digits! Let's use the format_number to fix that!

In [62]:
from pyspark.sql.functions import format_number

In [63]:
df_std = df_pyspark.select(stddev("Salary").alias('std'))

In [64]:
df_std.show()

+----------------+
|             std|
+----------------+
|6227.81777878209|
+----------------+

In [65]:
# format_number("col_name",decimal places)
df_std.select(format_number('std',2)).show()

+---------------------+
|format_number(std, 2)|
+---------------------+
|             6,227.82|
+---------------------+

### Order by

In [66]:
# OrderBy
# Ascending
df_pyspark.orderBy("Name").show()

+---------+------------+------+----------+
|     Name| Departments|Salary|Experience|
+---------+------------+------+----------+
|   Harsha|         IOT| 15000|         1|
|    Krish|Data Science| 10000|        10|
|    Krish|    Big Data|  4000|         3|
|    Krish|         IOT|  5000|         8|
|   Mahesh|    Big Data|  4000|         4|
|   Mahesh|Data Science|  3000|         1|
|Sudhanshu|Data Science| 20000|         2|
|Sudhanshu|    Big Data|  5000|        10|
+---------+------------+------+----------+

In [67]:
# Descending call off the column itself.
df_pyspark.orderBy(df_pyspark["Name"].desc()).show()

+---------+------------+------+----------+
|     Name| Departments|Salary|Experience|
+---------+------------+------+----------+
|Sudhanshu|Data Science| 20000|         2|
|Sudhanshu|    Big Data|  5000|        10|
|   Mahesh|    Big Data|  4000|         4|
|   Mahesh|Data Science|  3000|         1|
|    Krish|Data Science| 10000|        10|
|    Krish|         IOT|  5000|         8|
|    Krish|    Big Data|  4000|         3|
|   Harsha|         IOT| 15000|         1|
+---------+------------+------+----------+